<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CompetitionGradeMapper">
    
    <resultMap type="CompetitionGrade" id="CompetitionGradeResult">
        <result property="gradeId"    column="grade_id"    />
        <result property="gradeName"    column="grade_name"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCompetitionGradeVo">
        select grade_id, grade_name, status, del_flag, create_by, create_time, update_by, update_time, remark from competition_grade
    </sql>

    <select id="selectCompetitionGradeList" parameterType="CompetitionGrade" resultMap="CompetitionGradeResult">
        <include refid="selectCompetitionGradeVo"/>
        <where>
            <if test="gradeName != null  and gradeName != ''"> and grade_name like concat('%', #{gradeName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            and del_flag = false
        </where>
    </select>
    
    <select id="selectCompetitionGradeByGradeId" parameterType="Long" resultMap="CompetitionGradeResult">
        <include refid="selectCompetitionGradeVo"/>
        where grade_id = #{gradeId}
    </select>
        
    <insert id="insertCompetitionGrade" parameterType="CompetitionGrade" useGeneratedKeys="true" keyProperty="gradeId">
        insert into competition_grade
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gradeName != null and gradeName != ''">grade_name,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gradeName != null and gradeName != ''">#{gradeName},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCompetitionGrade" parameterType="CompetitionGrade">
        update competition_grade
        <trim prefix="SET" suffixOverrides=",">
            <if test="gradeName != null and gradeName != ''">grade_name = #{gradeName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where grade_id = #{gradeId}
    </update>

    <delete id="deleteCompetitionGradeByGradeId" parameterType="Long">
        delete from competition_grade where grade_id = #{gradeId}
    </delete>

    <delete id="deleteCompetitionGradeByGradeIds" parameterType="String">
        delete from competition_grade where grade_id in 
        <foreach item="gradeId" collection="array" open="(" separator="," close=")">
            #{gradeId}
        </foreach>
    </delete>
</mapper>