<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StructureClassMapper">

    <resultMap type="StructureClass" id="StructureClassResult">
        <result property="classId"    column="class_id"    />
        <result property="className"    column="class_name"    />
        <result property="specialtyId"    column="specialty_id"    />
        <result property="specialtyName"    column="specialty_name"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectStructureClassVo">
        select class_id, class_name, specialty_id, specialty_name, status, del_flag, create_by, create_time, update_by, update_time, remark from structure_class
    </sql>

    <select id="selectStructureClassList" parameterType="StructureClass" resultMap="StructureClassResult">
        <include refid="selectStructureClassVo"/>
        <where>
            <if test="className != null  and className != ''"> and class_name like concat('%', #{className}, '%')</if>
            <if test="specialtyName != null  and specialtyName != ''"> and specialty_name like concat('%', #{specialtyName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
             and del_flag = false
        </where>
    </select>

    <select id="selectStructureClassByClassId" parameterType="Long" resultMap="StructureClassResult">
        <include refid="selectStructureClassVo"/>
        where class_id = #{classId}
    </select>

    <insert id="insertStructureClass" parameterType="StructureClass" useGeneratedKeys="true" keyProperty="classId">
        insert into structure_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="className != null and className != ''">class_name,</if>
            <if test="specialtyId != null">specialty_id,</if>
            <if test="specialtyName != null and specialtyName != ''">specialty_name,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="className != null and className != ''">#{className},</if>
            <if test="specialtyId != null">#{specialtyId},</if>
            <if test="specialtyName != null and specialtyName != ''">#{specialtyName},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateStructureClass" parameterType="StructureClass">
        update structure_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="className != null and className != ''">class_name = #{className},</if>
            <if test="specialtyId != null">specialty_id = #{specialtyId},</if>
            <if test="specialtyName != null and specialtyName != ''">specialty_name = #{specialtyName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where class_id = #{classId}
    </update>

    <delete id="deleteStructureClassByClassId" parameterType="Long">
        delete from structure_class where class_id = #{classId}
    </delete>

    <delete id="deleteStructureClassByClassIds" parameterType="String">
        delete from structure_class where class_id in
        <foreach item="classId" collection="array" open="(" separator="," close=")">
            #{classId}
        </foreach>
    </delete>
</mapper>